* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/

/*Barra De Navegacion*/

.nav-container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
}

.nav-container .logo {
    width: 14.4em;
    height: 9.4em;
}

.nav-container .list {
    display: flex;
    grid-column: 3/11;
    justify-content: space-around;
}

.nav-container .list li {
    list-style-type: none;
}

.nav-container .list li a {
    text-decoration: none;
    color: white;
    font-size: 2em;

}

.nav-container .menu-bar {
    display: none;
}

/*Main.index*/

.main-container-index {
    height: 80vh;
    background-image: url('../assets/img/microofono.jpg');
    background-size: cover;
    background-position-y: -4.5em;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.main-container-index .contenido-titulos {
    grid-column: 1/6;
    grid-row: 2/5;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.332);
    text-align: center;
}

.main-container-index .contenido-contacto {
    grid-column: 1/6;
    grid-row: 7/8;
    color: white;
    font-size: 1.56em;
    background-color: rgba(0, 0, 0, 0.332);
    line-height: 2;
    text-align: center;
}

.contenido-titulos h4{
    margin-top: 1.25em;
}

/*section-index*/

.section-container-index {
    background-color: black;
    display: flex;
}

.img-banda-container img {
    width: 50vw;
    height: 80vh;
    margin: 0.30em 0.30em 0em 0.30em;
}

.contenido-equipamiento {
    padding: 1.25em;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    color: white;
}

/*footer*/

.footer-container {
    background-color: black;
    display: grid;
    grid-template-areas: 
    "logo-izquierda     logo-redes    logo-derecha";
    justify-content: space-between;
    align-items: center;
}

.footer-container .logo {
    width: 9.4em;
    height: 6.25em;
}

.logo-izq-container {
    grid-area: logo-izquierda;
}

.full-content-center {
    grid-area: logo-redes;
    display: grid;
    color: white;
    justify-items: center;
    grid-row-gap: 1em;

}

.full-content-center .redes-container img{
    width: 3.25em;
    height: 3.25em;
    padding: 0.75em;
}

.logo-der-container {
    grid-area: logo-derecha;
}

/*nosotros.html*/

/*main nosotros.html*/

.main-container-nosotoros{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.main-container-nosotoros img{
    width: 98.7vw;
    height: 70vh;
    
}

.contenido-nosotros {
    height: 250px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
}

.contenido-nosotros p {
    margin: 20px 15px;
}

/*section nosotros.html*/

.section-container-nosotros {
    background-color: black;
    height: 60vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
    grid-template-rows: repeat(12, 1fr);
}

.contenido-servicios {
    grid-column: 1/13;
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
}

.contenido-servicios p {
    margin: 20px 15px;
}

.iconos-servicios-container {
    background-color: rgb(70, 69, 69);
    display: flex;
    grid-column: 1/13;
    grid-row: 4/13;
    justify-content: space-around;
    align-items: center;
}

.iconos {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2;
    align-items: center;
}

.iconos img {
    width: 50px;
    height: 50px;
}

/*imagenes finales nosotros*/

.end-img-nosotros {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.end-img-nosotros img {
    width: 600px;
    height: 450px;
}









