* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/

/*Barra De Navegacion*/

.container-fluid img {
    width: 150px;
    height: 100px;
}


.navbar-nav .nav-item {
    font-size: 1.5em;
    margin: 10px;
}


/*Main.index*/

.main-container-index {
    height: 82vh;
    background-image: url('../assets/img/microofono.jpg');
    background-size: cover;
    background-position-y: -4.5em;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.main-container-index .contenido-titulos {
    grid-column: 1/6;
    grid-row: 2/5;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.332);
    text-align: center;
    animation-name: fadeInLeft;
    animation-duration: 1s;
}

.contenido-titulos h4{
    margin-top: 1.25em;
}

.main-container-index .contenido-contacto {
    grid-column: 1/6;
    grid-row: 7/8;
    color: white;
    font-size: 1.56em;
    background-color: rgba(0, 0, 0, 0.332);
    line-height: 2;
    text-align: center;
    animation-name: fadeInLeft;
    animation-duration: 1s;
}

.contenido-contacto button {
    font-size: 0.7em;
    padding: 0.5em 1em;
    border-radius: 2em;
    cursor: pointer;
    transition-property: height 2s, background-color;
    transition-duration: 10s;
    transition-timing-function: linear;
}

.contenido-contacto button:hover {
    background-color: black;
    height: 3.1em;
}



/*section-index*/

.section-container-index {
    background-image: radial-gradient(black, rgb(24, 24, 24));
    display: flex;
}

.img-banda-container img {
    width: 50vw;
    height: 80vh;
    margin: 1em;
}

.contenido-equipamiento {
    padding: 1.25em;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    color: white;
}

.contenido-equipamiento button {
    font-size: 0.7em;
    padding: 0.5em 1em;
    margin-top: 0.6em;
    border-radius: 2em;
    cursor: pointer;
    transition-property: height 2s, background-color;
    transition-duration: 10s;
    transition-timing-function: linear;
}

.contenido-equipamiento button:hover {
    background-color: black;
    height: 3.1em;
}



/*footer*/

.footer-container {
    background-image: radial-gradient(black, rgb(29, 27, 27));
    display: grid;
    grid-template-areas: 
    "logo-izquierda     logo-redes    logo-derecha";
    justify-content: space-between;
    align-items: center;
}

.footer-container .logo {
    width: 9.4em;
    height: 6.25em;
}

.logo-izq-container {
    grid-area: logo-izquierda;
    transform: translate(4em);
    transition: all 0.3s;
}

.logo-izq-container:hover {
    transform: translate(1px);
}


.full-content-center {
    grid-area: logo-redes;
    display: grid;
    color: white;
    justify-items: center;
    grid-row-gap: 1em;
    margin: 1em;

}

.full-content-center .redes-container img{
    width: 3.25em;
    height: 3.25em;
    padding: 0.75em;
    cursor: pointer;
}

.logo-der-container {
    grid-area: logo-derecha;
    transform: translate(-4em);
    transition: all 0.3s;
}

.logo-der-container:hover {
    transform: translate(1px);
}

/*nosotros.html*/

/*main nosotros.html*/

.main-container-nosotoros{
    background-image: radial-gradient(black, rgb(24, 24, 24));
    display: flex;
    flex-direction: column;
}

.main-container-nosotoros img{
    width: 100vw;
    height: 90vh;
    animation-name: fadeIn;
    animation-duration: 1s;
    
}

.contenido-nosotros {
    height: 17em;
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-top: 2em;
}

.contenido-nosotros p {
    margin: 1.25em 1em;
}

/*section nosotros.html*/

.section-container-nosotros {
    background-image: radial-gradient(black, rgb(24, 24, 24));
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
}

.contenido-servicios {
    height: 15em;
    grid-column: 1/13;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.contenido-servicios p {
    margin: 1.5em 1em;
}

/* Iconos nosotros.html*/

.iconos-servicios-container {
    background-image: radial-gradient(rgb(68, 63, 63), rgb(59, 57, 57));
    width: 100vw;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.iconos {
    flex-direction: column;
    text-align: center;
    line-height: 2;
    align-items: center;
    color: black ;
    cursor: pointer;
}

.iconos:hover {
    color: rgb(116, 13, 13);
}

.iconos img {
    width: 3.25em;
    height: 3.25em;
}


/*imagenes finales nosotros*/

.end-img-nosotros {
    width: 100vw;
    background-image: radial-gradient(black, rgb(24, 24, 24));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0.1em;
    gap: 3em
}

.end-img-nosotros img {
    width: 37.5em;
    height: 28em;
    cursor: pointer;
}

.end-img-nosotros img:hover {
    
    border: 5px solid black;
}

.boton-galeria-nosotros {
    background-image: radial-gradient(black, rgb(24, 24, 24));
    display: flex;
    justify-content: center;
}

.boton-galeria-nosotros  button {
    width: 8em;
    height: 3em;
    border-radius: 2em;
    cursor: pointer;
    margin: 10px;
}

.boton-galeria-nosotros  button:hover {
    border: solid 3px black;
}

/*Galeria.html*/

#galeria {
    background-image: radial-gradient(black, rgb(20, 20, 20)); 
    color: white;
}

#galeria .col-lg-4 {
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 350px;
}

#galeria img:hover{
    border: 5px solid black;
}