* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Barra De Navegacion*/
.navbar {
  background-image: radial-gradient(black, #161616); }
  .navbar img {
    width: 7em;
    height: 5em; }

#navbarNav {
  font-size: 1.6em;
  font-family: cursive; }
  #navbarNav .navbar-nav {
    width: 100%;
    justify-content: space-evenly; }

/*Main.index*/
.main-container-index {
  height: 82vh;
  background-image: url("../assets/img/microofono.jpg");
  background-size: cover;
  background-position-y: -4.5em;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr); }
  .main-container-index .contenido-titulos {
    grid-column: 1/6;
    grid-row: 2/5;
    color: #e9dcdc;
    font-size: 1.56em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background-color: rgba(0, 0, 0, 0.332);
    text-align: center;
    animation-name: fadeInLeft;
    animation-duration: 1s; }
    .main-container-index .contenido-titulos h3 {
      font-style: italic; }
    .main-container-index .contenido-titulos h4 {
      margin-top: 1.25em; }
  .main-container-index .contenido-contacto {
    grid-column: 1/6;
    grid-row: 7/8;
    color: #e9dcdc;
    font-size: 1.56em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background-color: rgba(0, 0, 0, 0.332);
    text-align: center;
    line-height: 2;
    animation-name: fadeInLeft;
    animation-duration: 1s; }
    .main-container-index .contenido-contacto button {
      font-size: 0.7em;
      padding: 0.5em 1em;
      border-radius: 2em;
      cursor: pointer;
      transition-property: height 2s, background-color;
      transition-duration: 2s;
      transition-timing-function: linear; }
      .main-container-index .contenido-contacto button:hover {
        background-color: black;
        height: 3.1em; }

/*section-index*/
.section-container-index {
  background-image: radial-gradient(black, #181818);
  display: flex;
  align-items: center; }

.img-banda-container img {
  width: 50vw;
  height: 80vh;
  margin: 1em; }

.contenido-equipamiento {
  padding: .5em;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #e9dcdc; }
  .contenido-equipamiento h1 {
    padding-bottom: .5em; }
  .contenido-equipamiento h2 {
    padding-bottom: .5em;
    font-style: italic; }
  .contenido-equipamiento button {
    font-size: 0.7em;
    padding: 0.5em 1em;
    margin-top: 0.6em;
    border-radius: 2em;
    cursor: pointer;
    transition-property: height 2s, background-color;
    transition-duration: 2s;
    transition-timing-function: linear; }
    .contenido-equipamiento button:hover {
      background-color: black;
      height: 3.1em; }

/*main nosotros.html*/
.main-container-nosotoros {
  background-image: radial-gradient(black, #181818);
  display: flex;
  flex-direction: column; }
  .main-container-nosotoros img {
    padding: 0 1.5em 0 1.5em;
    width: 100%;
    height: 90vh;
    animation-name: fadeIn;
    animation-duration: 1s; }
  .main-container-nosotoros .contenido-nosotros {
    text-align: center;
    font-size: 1.5em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    color: #e9dcdc;
    margin-top: 2em; }
    .main-container-nosotoros .contenido-nosotros p {
      margin: 1.5em 1em; }

/*section nosotros.html*/
.section-container-nosotros {
  background-image: radial-gradient(black, #181818);
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .section-container-nosotros .contenido-servicios {
    grid-column: 1/13;
    text-align: center;
    color: #e9dcdc;
    font-size: 1.5em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    margin-top: 2em; }
    .section-container-nosotros .contenido-servicios p {
      margin: 1.5em 1em; }

/* Iconos nosotros.html*/
.iconos-servicios-container {
  background-image: radial-gradient(#3a3737, #312e2e);
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .iconos-servicios-container .iconos {
    flex-direction: column;
    text-align: center;
    line-height: 2;
    align-items: center;
    color: black;
    cursor: pointer; }
    .iconos-servicios-container .iconos:hover {
      color: #740d0d; }
    .iconos-servicios-container .iconos img {
      width: 3.25em;
      height: 3.25em; }

/*imagenes finales nosotros*/
.end-img-nosotros {
  width: 100%;
  background-image: radial-gradient(black, #181818);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0.1em;
  gap: 3em; }
  .end-img-nosotros img {
    width: 37.5em;
    height: 28em;
    border-radius: 10%;
    cursor: pointer; }
    .end-img-nosotros img:hover {
      border: 5px solid transparent; }

/*boton galeria*/
.boton-galeria-nosotros {
  background-image: radial-gradient(black, #181818);
  display: flex;
  justify-content: center; }
  .boton-galeria-nosotros button {
    width: 8em;
    height: 3em;
    border-radius: 2em;
    cursor: pointer;
    margin: 10px; }
    .boton-galeria-nosotros button:hover {
      border: solid 3px black; }

/*salas.html*/
.contenido-salas {
  background-image: radial-gradient(black, #181818);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #e9dcdc; }
  .contenido-salas h1 {
    margin: 40px 0 30px 0; }
  .contenido-salas p {
    font-size: 1.5em; }

.section-salas {
  background-image: radial-gradient(black, #181818);
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 20vh;
  color: #e9dcdc; }

.box-sala1, .box-sala3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .box-sala1 img, .box-sala3 img {
    width: 650px;
    height: 450px;
    border-radius: 10%;
    cursor: pointer; }
    .box-sala1 img:hover, .box-sala3 img:hover {
      border: 5px solid transparent; }

.contenido-sala1, .box-sala2 .contenido-sala2, .box-studio .contenido-sala2, .box-sala3 .contenido-sala3, .box-studio .contenido-studio {
  display: flex;
  width: 38%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .contenido-sala1 h4, .box-sala2 .contenido-sala2 h4, .box-studio .contenido-sala2 h4, .box-sala3 .contenido-sala3 h4, .box-studio .contenido-studio h4 {
    font-size: 1.7em; }
  .contenido-sala1 p, .box-sala2 .contenido-sala2 p, .box-studio .contenido-sala2 p, .box-sala3 .contenido-sala3 p, .box-studio .contenido-studio p {
    text-align: center;
    font-size: 1.2em; }

.box-sala2, .box-studio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around; }
  .box-sala2 img, .box-studio img {
    width: 650px;
    height: 450px;
    border-radius: 10%;
    cursor: pointer; }
    .box-sala2 img:hover, .box-studio img:hover {
      border: 5px solid transparent; }

/*Galeria.html*/
#galeria {
  background-image: radial-gradient(black, #181818);
  height: 120vh;
  color: #e9dcdc;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #galeria .text-center {
    height: 10em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-style: italic; }
  #galeria #carouselgaleria {
    width: 95%; }
  #galeria img {
    width: 100%;
    height: 90vh; }

#videos-ensayos {
  background-image: radial-gradient(black, #181818);
  color: #e9dcdc; }
  #videos-ensayos .text-center {
    height: 10vh;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-style: italic; }
  #videos-ensayos .col-lg-6 {
    padding: 30px; }
  #videos-ensayos iframe {
    width: 100%;
    height: 400px;
    cursor: pointer; }
    #videos-ensayos iframe:hover {
      border: 5px solid transparent; }

/*Reservas.html*/
.section-reservas {
  background-image: radial-gradient(black, #181818);
  color: #e9dcdc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
  .section-reservas h1 {
    text-align: center;
    padding-top: 25px;
    height: 150px; }

.contenido-reservas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .contenido-reservas .datos-reservas {
    width: 600px; }
    .contenido-reservas .datos-reservas h2 {
      padding-bottom: 20px; }
  .contenido-reservas .maps {
    width: 600px; }
    .contenido-reservas .maps iframe {
      width: 550px;
      height: 450px; }

.section-contact {
  background-image: radial-gradient(black, #181818);
  color: #e9dcdc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
  .section-contact h2 {
    text-align: center;
    padding-top: 50px;
    height: 150px; }
  .section-contact .form-reservas {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-contact .form-reservas .mb-3 {
      width: 50vw; }

/*footer*/
.footer-container {
  background-image: radial-gradient(black, #181818);
  display: grid;
  grid-template-areas: "logo-izquierda     logo-redes    logo-derecha";
  justify-content: space-between;
  align-items: center; }
  .footer-container .logo {
    width: 9.4em;
    height: 6.25em; }

.logo-izq-container {
  grid-area: logo-izquierda;
  transform: translate(4em);
  transition: all 0.3s; }
  .logo-izq-container:hover {
    transform: translate(1px); }

.full-content-center {
  grid-area: logo-redes;
  display: grid;
  color: #e9dcdc;
  justify-items: center;
  grid-row-gap: 1em;
  margin: 1em; }
  .full-content-center h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em; }
  .full-content-center h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em; }
  .full-content-center .redes-container a {
    text-decoration: none; }
  .full-content-center .redes-container img {
    width: 3.25em;
    height: 3.25em;
    padding: 0.75em;
    cursor: pointer; }

.logo-der-container {
  grid-area: logo-derecha;
  transform: translate(-4em);
  transition: all 0.3s; }
  .logo-der-container:hover {
    transform: translate(1px); }

/*media queries*/
@media screen and (max-width: 320px) {
  /*Barra De Navegacion*/
  .container-fluid .navbar-brand img {
    width: 100px;
    height: 80px; }
  .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    text-align: center; }
  /*Main.index*/
  .main-container-index {
    background-position: 70%;
    font-size: 10px; }
    .main-container-index .contenido-titulos {
      width: 98vw;
      height: 210px; }
      .main-container-index .contenido-titulos h1 {
        font-size: 27px; }
      .main-container-index .contenido-titulos h2 {
        font-size: 23px; }
      .main-container-index .contenido-titulos h3 {
        font-size: 18px; }
      .main-container-index .contenido-titulos h4 {
        font-size: 15px; }
  .contenido-contacto {
    width: 98vw;
    font-size: 10px; }
    .contenido-contacto h3 {
      font-size: 18px; }
  /*section-index*/
  .section-container-index {
    background-image: radial-gradient(black, #0f0f0f);
    display: flex;
    flex-direction: column; }
    .section-container-index .img-banda-container img {
      position: relative;
      margin: -30px 0 10px 0;
      width: 100vw;
      height: 50vh; }
  .section-container-index .contenido-equipamiento {
    font-size: 15px; }
    .section-container-index .contenido-equipamiento h1 {
      font-size: 27px; }
    .section-container-index .contenido-equipamiento h2 {
      font-size: 21px; }
  /*footer*/
  .logo-izq-container {
    display: none; }
  .logo-der-container {
    display: none; }
  .full-content-center {
    font-size: 11px; }
    .full-content-center .logo-med-container {
      font-size: 11px; }
  /*nosotros.html*/
  /*main nosotros.html*/
  .main-container-nosotoros .imagen-estudio-container img {
    padding: 0 5px 0 5px;
    height: 300px; }
  /*section nosotros.html*/
  .contenido-nosotros h2 {
    font-size: 20px; }
  .contenido-nosotros p {
    font-size: 15px; }
  .contenido-servicios h2 {
    font-size: 20px; }
  .contenido-servicios p {
    font-size: 15px; }
  /* Iconos nosotros.html*/
  .iconos-servicios-container .iconos {
    font-size: 12px; }
  .iconos-servicios-container h4 {
    font-size: 14px; }
  /*imagenes finales nosotros*/
  .end-img-nosotros div img {
    width: 95vw;
    height: 60vh; }
  .boton-galeria-nosotros button {
    font-size: 12px; }
  /*Salas.html*/
  /*contenido-Salas*/
  main .contenido-salas {
    font-size: 10px;
    padding: 0 10px 0 10px; }
  .section-salas .box-sala1 img, .section-salas .box-sala3 img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala1 .contenido-sala1, .section-salas .box-sala3 .contenido-sala1, .section-salas .box-sala1 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala3 .contenido-sala2, .section-salas .box-sala1 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala3 .contenido-sala2, .box-sala3 .section-salas .box-sala1 .contenido-sala3, .section-salas .box-sala3 .contenido-sala3, .section-salas .box-sala1 .box-studio .contenido-studio, .box-studio .section-salas .box-sala1 .contenido-studio, .section-salas .box-sala3 .box-studio .contenido-studio, .box-studio .section-salas .box-sala3 .contenido-studio {
    width: 100vw;
    font-size: 11px;
    margin: 20px 10px 0 10px; }
  .section-salas .box-sala2 img, .section-salas .box-studio img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala2 .contenido-sala2, .section-salas .box-studio .contenido-sala2 {
    width: 100vw;
    font-size: 11px;
    margin: 20px 10px 0 10px; }
  .section-salas .box-sala3 img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala3 .contenido-sala3 {
    width: 100vw;
    font-size: 11px;
    margin: 20px 10px 0 10px; }
  .section-salas .box-studio img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-studio .contenido-studio {
    width: 100vw;
    font-size: 11px;
    margin: 20px 10px 0 10px; }
  /*Galeria.html*/
  #galeria #carouselgaleria img {
    height: 80vh; }
  /*Reservas.html*/
  .section-reservas h1 {
    font-size: 20px;
    padding: 0 10px 0 10px;
    margin-bottom: -30px; }
  .contenido-reservas {
    gap: 30px; }
    .contenido-reservas .datos-reservas {
      text-align: center;
      font-size: 13px; }
      .contenido-reservas .datos-reservas h2 {
        font-size: 18px; }
  .section-reservas .contenido-reservas .maps iframe {
    width: 100vw;
    height: 50vh; }
  .section-contact h2 {
    font-size: 18px; }
  .section-contact .form-reservas .mb-3 {
    width: 90vw !important; }
  .section-contact .form-reservas .btn {
    font-size: 12px; } }

@media (min-width: 321px) and (max-width: 480px) {
  /*Barra De Navegacion*/
  .container-fluid .navbar-brand img {
    width: 100px;
    height: 80px; }
  .navbar-nav .nav-item .nav-link {
    font-size: 25px;
    text-align: center; }
  /*Main.index*/
  .main-container-index {
    background-position: 70%;
    font-size: 13px; }
    .main-container-index .contenido-titulos {
      width: 100vw;
      height: 250px; }
      .main-container-index .contenido-titulos h1 {
        font-size: 31px; }
      .main-container-index .contenido-titulos h2 {
        font-size: 26px; }
      .main-container-index .contenido-titulos h3 {
        font-size: 21px; }
      .main-container-index .contenido-titulos h4 {
        font-size: 17px; }
  .contenido-contacto {
    width: 100vw; }
    .contenido-contacto h3 {
      margin-bottom: 20px;
      font-size: 21px; }
    .contenido-contacto .btn {
      margin-bottom: 25px; }
  /*section-index*/
  .section-container-index {
    background-image: radial-gradient(black, #0f0f0f);
    display: flex;
    flex-direction: column; }
    .section-container-index .img-banda-container img {
      position: relative;
      margin: -30px 0 10px 0;
      width: 100vw;
      height: 50vh; }
  .section-container-index .contenido-equipamiento {
    font-size: 17px; }
    .section-container-index .contenido-equipamiento h1 {
      font-size: 30px; }
    .section-container-index .contenido-equipamiento h2 {
      font-size: 23px; }
    .section-container-index .contenido-equipamiento button {
      font-size: 15px; }
  /*footer*/
  .logo-izq-container {
    display: none; }
  .logo-der-container {
    display: none; }
  .full-content-center {
    font-size: 13px; }
    .full-content-center h4 {
      text-align: center; }
  /*nosotros.html*/
  /*main nosotros.html*/
  .main-container-nosotoros .imagen-estudio-container img {
    padding: 0 5px 0 5px;
    height: 300px; }
  /*section nosotros.html*/
  .contenido-nosotros h2 {
    font-size: 22px; }
  .contenido-nosotros p {
    font-size: 17px; }
  .contenido-servicios h2 {
    font-size: 22px; }
  .contenido-servicios p {
    font-size: 17px; }
  /* Iconos nosotros.html*/
  .iconos-servicios-container .iconos {
    font-size: 16px; }
    .iconos-servicios-container .iconos h4 {
      font-size: 13px; }
  /*imagenes finales nosotros*/
  .end-img-nosotros div img {
    width: 95vw;
    height: 60vh; }
  .boton-galeria-nosotros button {
    font-size: 14px; }
  /*Salas.html*/
  /*contenido-Salas*/
  main .contenido-salas {
    font-size: 12px;
    padding: 0 10px 0 10px; }
  .section-salas .box-sala1 img, .section-salas .box-sala3 img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala1 .contenido-sala1, .section-salas .box-sala3 .contenido-sala1, .section-salas .box-sala1 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala3 .contenido-sala2, .section-salas .box-sala1 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala3 .contenido-sala2, .box-sala3 .section-salas .box-sala1 .contenido-sala3, .section-salas .box-sala3 .contenido-sala3, .section-salas .box-sala1 .box-studio .contenido-studio, .box-studio .section-salas .box-sala1 .contenido-studio, .section-salas .box-sala3 .box-studio .contenido-studio, .box-studio .section-salas .box-sala3 .contenido-studio {
    width: 100vw;
    font-size: 12px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala2 img, .section-salas .box-studio img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala2 .contenido-sala2, .section-salas .box-studio .contenido-sala2 {
    width: 100vw;
    font-size: 12px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala3 img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala3 .contenido-sala3 {
    width: 100vw;
    font-size: 12px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-studio img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-studio .contenido-studio {
    width: 100vw;
    font-size: 12px;
    margin: 40px 10px 0 10px; }
  /*Galeria.html*/
  #galeria #carouselgaleria img {
    height: 80vh; }
  /*Reservas.html*/
  .section-reservas h1 {
    font-size: 22px;
    padding: 0 10px 0 10px;
    margin-bottom: -30px; }
  .contenido-reservas {
    gap: 30px; }
    .contenido-reservas .datos-reservas {
      text-align: center;
      font-size: 15px; }
      .contenido-reservas .datos-reservas h2 {
        font-size: 18px; }
  .section-reservas .contenido-reservas .maps iframe {
    width: 100vw;
    height: 50vh; }
  .section-contact h2 {
    font-size: 20px; }
  .section-contact .form-reservas .mb-3 {
    width: 90vw !important; }
  .section-contact .form-reservas .btn {
    font-size: 14px; } }

@media (min-width: 481px) and (max-width: 600px) {
  /*Barra De Navegacion*/
  .container-fluid .navbar-brand img {
    width: 100px;
    height: 80px; }
  .navbar-nav .nav-item .nav-link {
    font-size: 28px;
    text-align: center; }
  /*Main.index*/
  .main-container-index {
    background-position: 75%;
    font-size: 15px; }
    .main-container-index .contenido-titulos {
      width: 100vw;
      height: 250px; }
      .main-container-index .contenido-titulos h1 {
        font-size: 33px; }
      .main-container-index .contenido-titulos h2 {
        font-size: 28px; }
      .main-container-index .contenido-titulos h3 {
        font-size: 23px; }
      .main-container-index .contenido-titulos h4 {
        font-size: 19px; }
  .contenido-contacto {
    width: 100vw; }
    .contenido-contacto h3 {
      margin-bottom: 20px;
      font-size: 23px; }
    .contenido-contacto .btn {
      margin-bottom: 25px; }
  /*section-index*/
  .section-container-index {
    background-image: radial-gradient(black, #0f0f0f);
    display: flex;
    flex-direction: column; }
    .section-container-index .img-banda-container img {
      position: relative;
      margin: -30px 0 10px 0;
      width: 100vw;
      height: 70vh; }
  .section-container-index .contenido-equipamiento {
    font-size: 19px; }
    .section-container-index .contenido-equipamiento h1 {
      font-size: 32px; }
    .section-container-index .contenido-equipamiento h2 {
      font-size: 25px; }
    .section-container-index .contenido-equipamiento button {
      font-size: 17px; }
  /*footer*/
  .logo-izq-container {
    display: none; }
  .logo-der-container {
    display: none; }
  .full-content-center {
    font-size: 15px; }
    .full-content-center h4 {
      text-align: center; }
  /*nosotros.html*/
  /*main nosotros.html*/
  .main-container-nosotoros .imagen-estudio-container img {
    padding: 0 5px 0 5px;
    height: 350px; }
  /*section nosotros.html*/
  .contenido-nosotros h2 {
    font-size: 24px; }
  .contenido-nosotros p {
    font-size: 19px; }
  .contenido-servicios h2 {
    font-size: 24px; }
  .contenido-servicios p {
    font-size: 19px; }
  /* Iconos nosotros.html*/
  .iconos-servicios-container .iconos {
    font-size: 16px; }
    .iconos-servicios-container .iconos h4 {
      font-size: 15px; }
  /*imagenes finales nosotros*/
  .end-img-nosotros div img {
    width: 95vw;
    height: 70vh; }
  .boton-galeria-nosotros button {
    font-size: 16px; }
  /*Salas.html*/
  /*contenido-Salas*/
  main .contenido-salas {
    font-size: 14px;
    padding: 0 10px 0 10px; }
  .section-salas .box-sala1 img, .section-salas .box-sala3 img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala1 .contenido-sala1, .section-salas .box-sala3 .contenido-sala1, .section-salas .box-sala1 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala3 .contenido-sala2, .section-salas .box-sala1 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala3 .contenido-sala2, .box-sala3 .section-salas .box-sala1 .contenido-sala3, .section-salas .box-sala3 .contenido-sala3, .section-salas .box-sala1 .box-studio .contenido-studio, .box-studio .section-salas .box-sala1 .contenido-studio, .section-salas .box-sala3 .box-studio .contenido-studio, .box-studio .section-salas .box-sala3 .contenido-studio {
    width: 100vw;
    font-size: 14px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala2 img, .section-salas .box-studio img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala2 .contenido-sala2, .section-salas .box-studio .contenido-sala2 {
    width: 100vw;
    font-size: 14px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala3 img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-sala3 .contenido-sala3 {
    width: 100vw;
    font-size: 14px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-studio img {
    width: 95vw;
    height: 60vh; }
  .section-salas .box-studio .contenido-studio {
    width: 100vw;
    font-size: 14px;
    margin: 40px 10px 0 10px; }
  /*Galeria.html*/
  #galeria #carouselgaleria img {
    height: 80vh; }
  /*Reservas.html*/
  .section-reservas h1 {
    font-size: 24px;
    padding: 0 10px 0 10px;
    margin-bottom: -30px; }
  .contenido-reservas {
    gap: 30px; }
    .contenido-reservas .datos-reservas {
      text-align: center;
      font-size: 17px; }
      .contenido-reservas .datos-reservas h2 {
        font-size: 20px; }
  .section-reservas .contenido-reservas .maps iframe {
    width: 100vw;
    height: 50vh; }
  .section-contact h2 {
    font-size: 22px; }
  .section-contact .form-reservas .mb-3 {
    width: 80vw !important; }
  .section-contact .form-reservas .btn {
    font-size: 14px; } }

@media (min-width: 601px) and (max-width: 767px) {
  /*Barra De Navegacion*/
  .container-fluid .navbar-brand img {
    width: 130px;
    height: 100px; }
  .navbar-nav .nav-item .nav-link {
    font-size: 30px;
    text-align: center; }
  /*Main.index*/
  .main-container-index {
    background-position: 80%;
    font-size: 16px; }
    .main-container-index .contenido-titulos {
      width: 100vw;
      height: 250px; }
      .main-container-index .contenido-titulos h1 {
        font-size: 35px; }
      .main-container-index .contenido-titulos h2 {
        font-size: 30px; }
      .main-container-index .contenido-titulos h3 {
        font-size: 25px; }
      .main-container-index .contenido-titulos h4 {
        font-size: 21px; }
  .contenido-contacto {
    width: 100vw; }
    .contenido-contacto h3 {
      margin-bottom: 20px;
      font-size: 25px; }
    .contenido-contacto .btn {
      margin-bottom: 25px; }
  /*section-index*/
  .section-container-index {
    background-image: radial-gradient(black, #0f0f0f);
    display: flex;
    flex-direction: column; }
    .section-container-index .img-banda-container img {
      position: relative;
      margin: -30px 0 10px 0;
      width: 100vw;
      height: 80vh; }
  .section-container-index .contenido-equipamiento {
    font-size: 21px; }
    .section-container-index .contenido-equipamiento h1 {
      font-size: 34px; }
    .section-container-index .contenido-equipamiento h2 {
      font-size: 27px; }
    .section-container-index .contenido-equipamiento button {
      font-size: 19px; }
  /*footer*/
  .logo-izq-container {
    display: none; }
  .logo-der-container {
    display: none; }
  .full-content-center {
    font-size: 17px; }
    .full-content-center h4 {
      text-align: center; }
  /*nosotros.html*/
  /*main nosotros.html*/
  .main-container-nosotoros .imagen-estudio-container img {
    padding: 0 5px 0 5px;
    height: 400px; }
  /*section nosotros.html*/
  .contenido-nosotros h2 {
    font-size: 26px; }
  .contenido-nosotros p {
    font-size: 21px; }
  .contenido-servicios h2 {
    font-size: 26px; }
  .contenido-servicios p {
    font-size: 21px; }
  /* Iconos nosotros.html*/
  .iconos-servicios-container .iconos {
    font-size: 18px; }
    .iconos-servicios-container .iconos h4 {
      font-size: 17px; }
  /*imagenes finales nosotros*/
  .end-img-nosotros div img {
    width: 590px;
    height: 70vh; }
  .boton-galeria-nosotros button {
    font-size: 18px; }
  /*Salas.html*/
  /*contenido-Salas*/
  main .contenido-salas {
    font-size: 16px;
    padding: 0 10px 0 10px; }
  .section-salas .box-sala1 img, .section-salas .box-sala3 img {
    width: 95vw;
    height: 80vh; }
  .section-salas .box-sala1 .contenido-sala1, .section-salas .box-sala3 .contenido-sala1, .section-salas .box-sala1 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala3 .contenido-sala2, .section-salas .box-sala1 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala3 .contenido-sala2, .box-sala3 .section-salas .box-sala1 .contenido-sala3, .section-salas .box-sala3 .contenido-sala3, .section-salas .box-sala1 .box-studio .contenido-studio, .box-studio .section-salas .box-sala1 .contenido-studio, .section-salas .box-sala3 .box-studio .contenido-studio, .box-studio .section-salas .box-sala3 .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala2 img, .section-salas .box-studio img {
    width: 95vw;
    height: 80vh; }
  .section-salas .box-sala2 .contenido-sala2, .section-salas .box-studio .contenido-sala2 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala3 img {
    width: 95vw;
    height: 80vh; }
  .section-salas .box-sala3 .contenido-sala3 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-studio img {
    width: 95vw;
    height: 80vh; }
  .section-salas .box-studio .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  /*Galeria.html*/
  #galeria #carouselgaleria img {
    height: 80vh; }
  /*Reservas.html*/
  .section-reservas h1 {
    font-size: 26px;
    padding: 0 10px 0 10px;
    margin-bottom: -30px; }
  .contenido-reservas {
    gap: 30px; }
    .contenido-reservas .datos-reservas {
      text-align: center;
      font-size: 19px; }
      .contenido-reservas .datos-reservas h2 {
        font-size: 22px; }
  .section-reservas .contenido-reservas .maps iframe {
    width: 100%;
    height: 50vh; }
  .section-contact h2 {
    font-size: 24px; }
  .section-contact .form-reservas .mb-3 {
    width: 70vw !important; }
  .section-contact .form-reservas .btn {
    font-size: 16px; } }

@media (min-width: 768px) and (max-width: 900px) {
  /*Barra de Navegacion*/
  .navbar-nav .nav-item .nav-link {
    font-size: 20px; }
  /*Main.index*/
  .main-container-index {
    background-position: 80%;
    font-size: 16px; }
    .main-container-index .contenido-titulos {
      width: 65vw;
      height: 250px; }
      .main-container-index .contenido-titulos h1 {
        font-size: 35px; }
      .main-container-index .contenido-titulos h2 {
        font-size: 30px; }
      .main-container-index .contenido-titulos h3 {
        font-size: 25px; }
      .main-container-index .contenido-titulos h4 {
        font-size: 21px; }
  .contenido-contacto {
    width: 65vw; }
    .contenido-contacto h3 {
      margin-bottom: 20px;
      font-size: 25px; }
    .contenido-contacto .btn {
      margin-bottom: 25px; }
  /*section-index*/
  .section-container-index .contenido-equipamiento {
    font-size: 17px; }
    .section-container-index .contenido-equipamiento h1 {
      font-size: 32px; }
    .section-container-index .contenido-equipamiento h2 {
      font-size: 25px; }
    .section-container-index .contenido-equipamiento button {
      font-size: 17px; }
  /*footer*/
  .logo-izq-container .logo {
    width: 120px;
    height: 80px; }
  .logo-der-container .logo {
    width: 120px;
    height: 80px; }
  .full-content-center {
    font-size: 17px; }
    .full-content-center h4 {
      text-align: center; }
    .full-content-center .logo {
      width: 120px;
      height: 80px; }
  /*nosotros.html*/
  /*main nosotros.html*/
  .main-container-nosotoros .imagen-estudio-container img {
    padding: 0 5px 0 5px;
    height: 500px; }
  /*section nosotros.html*/
  .contenido-nosotros h2 {
    font-size: 27px; }
  .contenido-nosotros p {
    font-size: 22px; }
  .contenido-servicios h2 {
    font-size: 27px; }
  .contenido-servicios p {
    font-size: 22px; }
  /* Iconos nosotros.html*/
  .iconos-servicios-container .iconos {
    font-size: 19px; }
    .iconos-servicios-container .iconos h4 {
      font-size: 18px; }
  /*imagenes finales nosotros*/
  .end-img-nosotros div img {
    height: 70vh; }
  .boton-galeria-nosotros button {
    font-size: 18px; }
  /*Salas.html*/
  /*contenido-Salas*/
  main .contenido-salas {
    font-size: 16px;
    padding: 0 10px 0 10px; }
  .section-salas .box-sala1 .contenido-sala1, .section-salas .box-sala3 .contenido-sala1, .section-salas .box-sala1 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala3 .contenido-sala2, .section-salas .box-sala1 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala3 .contenido-sala2, .box-sala3 .section-salas .box-sala1 .contenido-sala3, .section-salas .box-sala3 .contenido-sala3, .section-salas .box-sala1 .box-studio .contenido-studio, .box-studio .section-salas .box-sala1 .contenido-studio, .section-salas .box-sala3 .box-studio .contenido-studio, .box-studio .section-salas .box-sala3 .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala2 .contenido-sala2, .section-salas .box-studio .contenido-sala2 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala3 .contenido-sala3 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-studio .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  /*Galeria.html*/
  #galeria #carouselgaleria img {
    height: 80vh; }
  /*Reservas.html*/
  .section-reservas h1 {
    font-size: 26px;
    padding: 0 10px 0 10px;
    margin-bottom: -30px; }
  .contenido-reservas {
    gap: 30px; }
    .contenido-reservas .datos-reservas {
      text-align: center;
      font-size: 21px; }
      .contenido-reservas .datos-reservas h2 {
        font-size: 24px; }
  .section-reservas .contenido-reservas .maps iframe {
    width: 100%;
    height: 50vh; }
  .section-contact h2 {
    font-size: 26px; }
  .section-contact .form-reservas .mb-3 {
    width: 60vw !important; }
  .section-contact .form-reservas .btn {
    font-size: 16px; } }

@media (min-width: 901px) and (max-width: 1024px) {
  /*Main.index*/
  .main-container-index {
    background-position: 80%; }
    .main-container-index .contenido-titulos {
      width: 65vw;
      height: 250px; }
      .main-container-index .contenido-titulos h1 {
        font-size: 36px; }
      .main-container-index .contenido-titulos h2 {
        font-size: 31px; }
      .main-container-index .contenido-titulos h3 {
        font-size: 26px; }
      .main-container-index .contenido-titulos h4 {
        font-size: 22px; }
  .contenido-contacto {
    width: 65vw; }
    .contenido-contacto h3 {
      margin-bottom: 20px;
      font-size: 26px; }
    .contenido-contacto .btn {
      margin-bottom: 25px; }
  /*section-index*/
  .section-container-index .contenido-equipamiento {
    font-size: 21px; }
    .section-container-index .contenido-equipamiento h1 {
      font-size: 34px; }
    .section-container-index .contenido-equipamiento h2 {
      font-size: 27px; }
    .section-container-index .contenido-equipamiento button {
      font-size: 17px; }
  /*Salas.html*/
  /*contenido-Salas*/
  main .contenido-salas {
    font-size: 16px;
    padding: 0 10px 0 10px; }
  .section-salas .box-sala1 .contenido-sala1, .section-salas .box-sala3 .contenido-sala1, .section-salas .box-sala1 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala3 .contenido-sala2, .section-salas .box-sala1 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala3 .contenido-sala2, .box-sala3 .section-salas .box-sala1 .contenido-sala3, .section-salas .box-sala3 .contenido-sala3, .section-salas .box-sala1 .box-studio .contenido-studio, .box-studio .section-salas .box-sala1 .contenido-studio, .section-salas .box-sala3 .box-studio .contenido-studio, .box-studio .section-salas .box-sala3 .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala2 .contenido-sala2, .section-salas .box-studio .contenido-sala2 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala3 .contenido-sala3 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-studio .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  /*Galeria.html*/
  #galeria #carouselgaleria img {
    height: 80vh; }
  /*Reservas.html*/
  .section-reservas h1 {
    font-size: 26px;
    padding: 0 10px 0 10px;
    margin-bottom: -30px; }
  .contenido-reservas {
    gap: 30px; }
    .contenido-reservas .datos-reservas {
      text-align: center;
      font-size: 21px; }
      .contenido-reservas .datos-reservas h2 {
        font-size: 24px; }
  .section-reservas .contenido-reservas .maps iframe {
    width: 100%;
    height: 50vh; }
  .section-contact h2 {
    font-size: 26px; }
  .section-contact .form-reservas .mb-3 {
    width: 60vw !important; }
  .section-contact .form-reservas .btn {
    font-size: 16px; } }

@media (min-width: 1025px) and (max-width: 1253px) {
  /*Nosotros.html*/
  .end-img-nosotros {
    flex-wrap: nowrap; }
    .end-img-nosotros img {
      width: 45vw; }
  /*Salas.html*/
  /*contenido-Salas*/
  main .contenido-salas {
    font-size: 16px;
    padding: 0 10px 0 10px; }
  .section-salas .box-sala1 .contenido-sala1, .section-salas .box-sala3 .contenido-sala1, .section-salas .box-sala1 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-sala2 .contenido-sala2, .box-sala2 .section-salas .box-sala3 .contenido-sala2, .section-salas .box-sala1 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala1 .contenido-sala2, .section-salas .box-sala3 .box-studio .contenido-sala2, .box-studio .section-salas .box-sala3 .contenido-sala2, .box-sala3 .section-salas .box-sala1 .contenido-sala3, .section-salas .box-sala3 .contenido-sala3, .section-salas .box-sala1 .box-studio .contenido-studio, .box-studio .section-salas .box-sala1 .contenido-studio, .section-salas .box-sala3 .box-studio .contenido-studio, .box-studio .section-salas .box-sala3 .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala2 .contenido-sala2, .section-salas .box-studio .contenido-sala2 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-sala3 .contenido-sala3 {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  .section-salas .box-studio .contenido-studio {
    width: 100vw;
    font-size: 16px;
    margin: 40px 10px 0 10px; }
  /*Reservas.html*/
  .contenido-reservas {
    flex-wrap: nowrap;
    padding: 0 20px 0 20px; } }
