/*Galeria.html*/


#galeria {
    background-image: radial-gradient((black, rgb(24, 24, 24)));
    height:120vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-center {
        height: 10em;
        font-family: cursive;
    }
    #carouselgaleria {
        width: 95%;
    }
    img {
        width: 100%;
        height: 90vh;
    }
}


#videos-ensayos {
    background-image: radial-gradient((black, rgb(24, 24, 24)));
    color: white;
    .text-center {
        height: 10vh;
        font-family: cursive;
    }
    .col-lg-6 {
        padding: 30px;
    }
    iframe {
        width: 100%;
        height: 400px;
        cursor: pointer;
        &:hover{
            border: 5px solid transparent;
        }
    }
}

