/*Reservas.html*/

.section-reservas {
    background-image: radial-gradient((black, rgb(24, 24, 24)));
    color: white;
    h1{
        text-align: center;
        padding-top: 25px;
        height: 150px;
    }
}

.contenido-reservas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .datos-reservas {
        width: 600px;
        h2{
            padding-bottom: 20px;
        }
    }
    .maps{
        width: 600px;
        iframe {
            width: 550px;
            height: 450px;
        }
    }
}


.section-contact {
    background-image: radial-gradient((black, rgb(24, 24, 24)));
    color: white;
    h2{
        text-align: center;
        padding-top: 50px;
        height: 150px;
    }
    .form-reservas {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mb-3{
            width: 50vw;
        }
    }
}
