//variables
$gradient-all:(black, rgb(24, 24, 24));
$color-tipografia: (rgb(233, 220, 220));
$tipografia-all:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

@mixin logo-derecha {
    grid-area: logo-derecha;
    transform: translate(-4em);
    transition: all 0.3s;
    &:hover {
        transform: translate(1px);
    }
}

@mixin boton-index-equipamiento {
    font-size: 0.7em;
        padding: 0.5em 1em;
        margin-top: 0.6em;
        border-radius: 2em;
        cursor: pointer;
        transition-property: height 2s, background-color;
        transition-duration: 2s;
        transition-timing-function: linear;
        &:hover {
            background-color: black;
            height: 3.1em;
        }
}